html, body {
    height: 100%;
}

body {
    position: relative;
}

body * {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

#modal-root {
    z-index: 999;
}
